[Unit]
Description=ham2mon in tmux session

[Service]
Type=forking
User=%i

WorkingDirectory=/cart

# tmux attach -t cart
# tmux list-sessions

# 126 x 27 minimum with tmux
ExecStartPre=/usr/bin/tmux new-session -s cart -n "ham2mon" -d -x 126 -y 27
ExecStartPre=/usr/bin/tmux send-keys -t cart:ham2mon "cd /cart/data" Enter
ExecStart=/usr/bin/tmux send-keys -t cart:ham2mon "sudo /usr/local/bin/ham2mon_start" Enter

ExecStop=/usr/bin/killall -w -s 2 cart

[Install]
WantedBy=multi-user.target
