[Unit]
Description=ham2mon in screen session
After=screen@.service
Requires=screen@.service

[Service]
Type=forking
User=%i

#WorkingDirectory=/cart/data

ExecStartPre=/usr/bin/screen -S scanner -p 0 -X stuff "/bin/stty columns 99 rows 26\n"
ExecStartPre=/usr/bin/screen -S scanner -p 0 -X stuff "cd /cart/data\n"
ExecStart=/usr/bin/screen -S scanner -p 0 -X stuff "sudo /usr/local/bin/ham2mon_start\n"

#ExecStop=/usr/bin/killall -w -s 2 scanner

[Install]
WantedBy=multi-user.target
