[Unit]
    Description=Radio scanner (rtl_fm-scanner)
    Requires=postgresql.service
    After=postgresql.service

[Service]
    User=<run as this user>
    ExecStart=/cart/rtl_fm-scanner/bin/rtl_fm-scanner daemon --listen "http://*:3000"
    RestartSec=30sec
    Restart=on-failure

[Install]
    WantedBy=multi-user.target
